<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="person.name" placeholder="Your Name"><br>
        <input type="text" v-model="person.sname" placeholder="Your Surname"><br>
        <input type="number" v-model="person.age" placeholder="Your Age"><br>
        <input type="radio" v-model="person.gender" value="male"><label for="male">Male</label><br>
        <input type="radio" v-model="person.gender" value="female"><label for="female">Female</label><br>
        <input type="checkbox" v-model="person.pet" value="Dog">Dog
        <input type="checkbox" v-model="person.pet" value="Cat">Cat
        <input type="checkbox" v-model="person.pet" value="Bird">Bird<br>
        <select v-model="person.rank">
            <option value="" v-model="person.pet">Select Role</option>
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select>
        <br><span> {{person}}</span>
    </div>
    <script>
    new Vue({
        el:'#app',
        data:{
            person:{
            name:'',
            sname:'',
            age:'',
            gender:'',
            pet:[],
            rank:''
            }
        },
        computed:{
                submit: function() {
                    return name;
                }
            }
    })</script>
</body>
</html>