<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <a v-bind:href="googleLink">{{googleName}}</a>
    </div>
    <script>
    new Vue({
        el:'#app',
        data:{
            googleName:'Google',
            googleLink:'https://google.com'
        }
    })</script>
</body>
</html>