<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="radio" v-model="loveType" value="Animal"><label for="Animal">Animal</label>
        <input type="radio" v-model="loveType" value="Flower"><label for="Flower">Flower</label><br>

        <template v-if="isLoveTypeAnimal">
            <input type="checkbox" id="Dog" value="Dog" v-model="loveList">
                <label for="Dog">Dog</label>
            <input type="checkbox" id="Cat" value="Cat" v-model="loveList">
                <label for="Cat">Cat</label>
            <input type="checkbox" id="Fish" value="Fish" v-model="loveList">
                <label for="Fish">Fish</label><br>
        </template>
        <template v-else-if="isLoveTypeFlower">
            <input type="checkbox" id="Rose" value="Rose" v-model="loveList">
                <label for="Rose">Rose</label>
            <input type="checkbox" id="Lotus" value="Lotus" v-model="loveList"> 
                <label for="Lotus">Lotus</label>
            <input type="checkbox" id="Mali" value="Mali" v-model="loveList">
                <label for="Mali">Mali</label><br>
        </template>
        <template v-else>
            Please Select one!!<br>
        </template>
        <span>LoveType:{{loveType}}</span><br>
        <span>LoveList:<span v-if="loveList.length==0">Nothing</span></span><br>
        <ul>
            <li v-for="love in loveList">{{love}}</li>
        </ul>
        <span>LoveList Length:{{getLoveListLength}}</span><br>
    </div>
    <script>
    new Vue({
        el:'#app',
        data:{
            loveType:'',
            loveList:[],
        },
        computed:{
                getLoveListLength:function(){
                    return this.loveList.length;
                },
                isLoveTypeAnimal:function(){
                    return this.loveType=='Animal';
                },
                isLoveTypeFlower:function(){
                    return this.loveType=='Flower';
                }
        },
        watch:{
            loveType: function(newValue, oldValue){
                this.loveList=[];
            }
        }
    })</script>
</body>
</html>