<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Hello, world!</title>
  </head>
  <body>
    <div id="app" class="container">
        <form>
            <div class="form-group">
            <input
                v-if="todo==null"
                @keydown.enter.prevent="addTodo" 
                type="text" 
                class="form-control" 
                id="textTodo" 
                placeholder="สิ่งที่ต้องทำ"
            >
            <input
                v-else
                @keydown.enter.prevent="editTodo" 
                type="text" 
                class="form-control" 
                id="textTodo"
                v-bind:value="todo.text"
                placeholder="แก้ไขสิ่งที่ต้องทำ"
            >
            </div>
        </form>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item" v-if="pageNumber!=0">
                  <a class="page-link" href="#" @click="backPage">Previous</a></li>
              <li class="page-item" v-for="page in getNumberOfPage">
                  <a class="page-link" href="#" @click="pageNumber=page-1">{{page}}</a></li>
              <li class="page-item" v-if="pageNumber!=getNumberOfPage-1">
                  <a class="page-link" href="#" @click="nextPage">Next</a></li>
            </ul>
          </nav>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Todo</th>
                <th scope="col">Opreation
                    <button 
                    type="button"
                    v-if="todo!=null"
                    @click="addNew()"
                    class="btn btn-success"
                    >Add new
                    </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="todo in getTodoByPaging">
                <th scope="row">{{todo.id}}</th>
                <td>{{todo.text}}</td>
                <td>
                    <button type="button"
                            @click="editOpreation(todo)" 
                            class="btn btn-warning"
                    >Edit
                    </button>
                    <button type="button"
                            @click="delOpreation(todo)"
                            class="btn btn-danger">Delete
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <script>
    var app = new Vue({
        el: '#app',
        data:{
            lastId:4,
            todo:null,
            pageNumber:0,
            pageSize:3,
            todos: [
                {   id:1,
                    text: 'ล้างจาน'
                },
                {   id:2,
                    text: 'ซักผ้า'
                },
                {   id:3,
                    text: 'ทำการบ้าน'
                },
                {   id:4,
                    text: 'นอน'
                },
            ],
        },
        methods:{
            addTodo: function(event){
                var newTodo = {   
                    id:this.lastId++,
                    text:event.target.value
                };
                this.todos.push(newTodo);
                event.target.value = null;
            },
            editTodo: function(event){
                this.todo.text = event.target.value;
                this.todo=null;
            },
            editOpreation: function(todo){
                this.todo = todo;
                console.log(todo);
            },
            delOpreation: function(todo){
                var index = this.todos.findIndex(t =>t.id == todo.id);
                this.todos.splice(index,1);
            },
            addNew:function(){
                this.todo = null;
            },
            backPage:function(){
                this.pageNumber--;
            },
            nextPage:function(){
                this.pageNumber++;
            }
        },
        computed:{
            getTodoByPaging:function(){
                var begin = this.pageNumber*this.pageSize;
                var end = begin+this.pageSize;
                return this.todos.slice(begin,end);
            },
            getNumberOfPage: function(){
                return Math.ceil(this.todos.length/this.pageSize);
            }
        }
    });
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>